body {
    background-color: #D2C0A6;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}


p {

    font-family: 'Sunflower';
}

h5 {
    font-size: 20pt;
    font-family: 'VT323';  
}