<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link href="https://unpkg.com/sanitize.css" rel="stylesheet" />
    <title>Bubble Sort</title>
    <link href="css/styles.css" rel="stylesheet" />
</head>
<body>
    <section class="header">Bubble Sort</section>
    <section class="data-container"></section>
</body>
<script src="js/bubble-sort/index.js"></script>
</html>