<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="utf-8">
    <title>Hash Table Visualize</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Sunflower:wght@300;500;700&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/hash.css">
</head>

<body class="p-2">
    <!-- NavBar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html" style=" font-family:'VT323'; font-size: 20pt;">SSU:Tructure</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="sort.html" style=" font-family:'VT323';">Sorting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="tree.html" style=" font-family:'VT323';">Tree</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" style=" font-family:'VT323';">Hash Table</a>
                    </li>
                </ul>
            </div>
    </nav>

    <!-- 메인 콘텐츠 컨테이너-->
    <div class="container-fluid d-flex my-3 py-4 align-items-start bg-white">

        <!-- 입력 폼 컨테이너-->
        <div id="input-form-wrapper" class="d-inline-flex flex-column col-md-2">

            <!-- 해시 타입 라디오 버튼 컨테이너-->
            <div id="hash-type-radio-wrapper" class="d-flex flex-column m-0 p-0">
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="linear-probing-radio" name="hash-type-radio" class="custom-control-input" checked>
                    <label class="custom-control-label" for="linear-probing-radio">Linear Probing</label>
                </div>
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="quadratic-probing-radio" name="hash-type-radio" class="custom-control-input">
                    <label class="custom-control-label" for="quadratic-probing-radio">Quadratic Probing</label>
                </div>
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="chaining-radio" name="hash-type-radio" class="custom-control-input">
                    <label class="custom-control-label" for="chaining-radio">Chaining</label>
                </div>
                   
            </div>

            <!-- Linear Probing 함수-->
            <!-- 사용자 함수(a) 입력 폼 컨테이터-->
            <div class="block" id="linear-a-container">
                <label for="new-expression-input">h(key) = (key + a * i) mod 5</label>
                <div class="row m-0 p-0">
                    <input type="number" id="linear-a-input" class="form-control col-5 mr-2">
                    <button type="button" id="linear-a-btn" class="btn btn-dark">a</button>
                </div>
            </div>

            <!-- Quadratic Probing 함수-->
            <!-- 사용자 함수(a) 입력 폼 컨테이터-->
            <div class="d-none mb-1" id="quadratic-a-container">
                <label for="new-expression-input">h(key, i) = (h(key) + b * i + a * i<sup>2</sup>) mod 5</label>
                <div class="row m-0 p-0">
                    <input type="number" id="quadratic-a-input" class="form-control col-5 mr-2">
                    <button type="button" id="quadratic-a-btn" class="btn btn-dark">a</button>
                </div>
            </div>

            <!-- 사용자 함수(b) 입력 폼 컨테이너-->
            <div class="d-none" id="quadratic-b-container">
                <div class="row m-0 p-0">
                    <input type="number" id="quadratic-b-input" class="form-control col-5 mr-2">
                    <button type="button" id="quadratic-b-btn" class="btn btn-dark">b</button>
                </div>
            </div>

            <!-- Chaining 함수-->
            <!-- 사용자 함수 입력 폼 컨테이너-->
            <!-- 해시테이블 수 입력 폼 컨테이너-->
            <!--div class="d-none" id="hashsize-container">
                <div class="row m-0 p-0">
                    <input type="number" id="hashsize-input" class="form-control col-5 mr-2">
                    <button type="button" id="hashsize-btn" class="btn btn-dark">해시테이블 사이즈 </button>
                </div>
            </div-->
            <div class="d-none" id="chaining-container">
                <label for="new-expression-input">해시함수를 입력하세요</label>
                <div class="row m-0 p-0">
                    <input type="text" id="chaining-function" placeholder="ex) i => i % 5"/>
                    <button type="button" id="chaining-btn" class="btn btn-dark" > 입력 </button>
                </div>
            </div>

            <!-- 사용자 데이터 입력(추가) 폼 컨테이너-->
            <div class="m-0 mt-4 p-0">
                <label for="data-add">데이터</label>
                <div class="row m-0 p-0">
                    <input type="number" id="data-add" class="form-control col-5 mr-2">
                    <button type="button" id="data-add-btn" class="btn btn-dark">Add</button>
                </div>
            </div>

            <!-- 사용자 데이터 입력(삭제) 폼 컨테이너-->
            <div class="m-0 mt-4 p-0">
                <label for="data-delete">데이터</label>
                <div class="row m-0 p-0">
                    <input type="number" id="data-delete" class="form-control col-5 mr-2">
                    <button type="button" id="data-delete-btn" class="btn btn-dark">Delete</button>
                </div>
            </div>

            <!-- 사용자 데이터 입력(검색) 폼 컨테이너-->
            <div class="m-0 mt-4 p-0">
                <label for="data-search">데이터</label>
                <div class="row m-0 p-0">
                    <input type="number" id="data-search" class="form-control col-5 mr-2">
                    <button type="button" id="data-search-btn" class="btn btn-dark">Search</button>
                </div>
            </div>

        </div>

        <!-- 데이터 시각화 부분 컨테이너-->
        <div id="visualize-section-wrapper" class="col-md-6 m-0 ml-4 p-0">
            <div id="container"></div>
        </div>

        <!-- Error Message -->
        <div class="modal fade" id="errorModel" role="dialog">
            <div class="modal-dialog">

                <div class="modal-content">
                    <div class="modal-header" style="color:white; background:#bbdeed;">
                        <h4 class="modal-title" style="color:white; background:#bbdeed;">Error Occurred</h4>
                    </div>
                    <div class="modal-body" id="model-body">
                        <p></p>
                    </div>
                    <div class="modal-footer">
                        <button type="button" style="color:white; background:#bbdeed;" data-dismiss="modal">Close</button>
                    </div>
                </div>

            </div>
        </div>

    </div>

    <script src="js/static/jquery-3.3.1.slim.min.js"></script>
    <script src="js/static/popper.min.js"></script>
    <script src="js/static/bootstrap.min.js"></script>
    <script src="js/hash/index.js"></script>

</body>

</html>