<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset='utf-8'>
    <title>SSU:tructure</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Sunflower:wght@300;500;700&family=VT323&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/mainPage.css">
    
</head>
<body class="p-2">


    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#" style="font-family:'VT323'; font-size: 20pt">SSU:Tructure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link" href="sort.html" style=" font-family:'VT323';">Sorting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tree.html" style=" font-family:'VT323';">Tree</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="hashtable.html" style=" font-family:'VT323';">Hash Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style=" font-family:'VT323';">item 2</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#" style=" font-family:'VT323';">item 3</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="stack.html" style=" font-family:'VT323';">Stack&Queue</a>
                </li>
            </ul>
        </div>
    </nav>

    <!--jumbotron-->
    <div class="jumbotron my-3 jumbotron-fluid">
        <div class="container">                  
            <img src="img/blocks.png" width="100">
            <h1 style="font-weight:bold; font-family:'VT323'; font-size: 50pt;" >SSU:tructure</h1>      
            <p style="font-size: 15pt;">SSU:tructure은 자료구조, 알고리즘을 어려워하는 사람들을 위해 제작된 자료구조 시각화 사이트입니다.</p>
              
        </div>
    </div>

    <!--structure and algorithm link-->
    <div class="py-5 bg-light">
        <div class="container">
            <div class="row">
                <!--item 1-->
                <div class="col-md-4 h-75">
                    <div class="card mb-4 shadow-sm">
                        <div class="card" width="100%">
                            <div class="embed-responsive embed-responsive-4by3" style="border-bottom: 2px solid rgba(0, 0, 0, .125)">
                                <img src="img/imgSort.PNG" class="card-img-top embed-responsive-item" alt="sort image">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Sorting</h5>
                                <p class="card-text">정렬은 어떤 데이터들이 주어졌을 때 이를 정해진 순서대로 나열하는 방법입니다.</p>
                                <a href="sort.html" class="btn btn-sm btn-outline-secondary" style="font-family: 'Sunflower';">보러가기</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item 2-->
                <div class="col-md-4 h-75">
                    <div class="card mb-4 shadow-sm">
                        <div class="card" width="100%">
                            <div class="embed-responsive embed-responsive-4by3" style="border-bottom: 2px solid rgba(0, 0, 0, .125)">
                                <img src="img/imgTree.PNG" class="card-img-top embed-responsive-item" alt="avl image" >
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Tree</h5>
                                <p class="card-text"  >트리는 사이클이 없고, 서로 다른 두 노드를 잇는 간선이 하나뿐인 그래프 입니다.</p>
                                <a href="tree.html" class="btn btn-sm btn-outline-secondary" style="font-family: 'Sunflower';">보러가기</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item 3-->
                <div class="col-md-4 h-75">
                    <div class="card mb-4 shadow-sm">
                        <div class="card" width="100%">
                            <div class="embed-responsive embed-responsive-4by3" style="border-bottom: 2px solid rgba(0, 0, 0, .125)">
                                <img src="img/imgHash.png" class="card-img-top embed-responsive-item" alt="hash image">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">Hash Table</h5>
                                <p class="card-text">해시 테이블은 연관배열 구조를 이용하여 key에 value를 저장하는 자료구조 입니다.</p>
                                <a href="hash.html" class="btn btn-sm btn-outline-secondary" style="font-family: 'Sunflower';">보러가기</a>
                            </div>
                        </div>
                    </div>
                </div>
                <!--item 4-->
                <div class="col-md-4 h-75">
                    <div class="card mb-4 shadow-sm">
                        <div class="card" width="100%">
                            <div class="embed-responsive embed-responsive-4by3" style="border-bottom: 2px solid rgba(0, 0, 0, .125)">
                                <img src="img/test2.jpg" class="card-img-top embed-responsive-item" alt="sample image">
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">STRUCTURE</h5>
                                <p class="card-text">Description</p>
                                <a href="#" class="btn btn-sm btn-outline-secondary" style="font-family: 'Sunflower';">보러가기</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="js/static/jquery-3.5.1.slim.min.js"></script>
<script src="js/static/bootstrap.bundle.min.js"></script>

</html>
