<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Sorting Visualize</title>
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/sort.css">
</head>

<body class="p-2">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html">SSU:Tructure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#">Sorting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="avlTree.html">AVL Tree</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 메인 콘텐츠 컨테이너 -->
    <div class="container-fluid d-flex mt-2 pb-3 pt-4 align-items-start bg-white">
        <!-- 입력 폼 컨테이너-->
        <div id="input-form-wrapper" class="d-inline-flex flex-column col-2">

            <!-- 정렬 타입 라디오 버튼 컨테이너-->
            <div id="radio-wrapper" class="d-flex flex-column m-0 p-0 ">
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="bubble-sort-radio" name="sort-type-radio" class="custom-control-input"
                        checked>
                    <label class="custom-control-label" for="bubble-sort-radio">Bubble Sort</label>
                </div>
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="selection-sort-radio" name="sort-type-radio" class="custom-control-input">
                    <label class="custom-control-label" for="selection-sort-radio">Selection Sort</label>
                </div>
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="insertion-sort-radio" name="sort-type-radio" class="custom-control-input">
                    <label class="custom-control-label" for="insertion-sort-radio">Insertion Sort</label>
                </div>
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="insertion-sort2-radio" name="sort-type-radio" class="custom-control-input">
                    <label class="custom-control-label" for="insertion-sort2-radio">Insertion Sort2</label>
                </div>
            </div>


            <!-- 딜레이 Range 컨테이너-->
            <div class="m-0 mt-4 p-0 d-flex flex-column">
                <label for="animation-delay-range">속도</label>
                <input type="range" min="10" max="1000" value="250" step="10" style="transform: rotate(180deg)" class="custom-range col-10 "
                    id="animation-delay-range">
            </div>

            <!-- 크기 Range 컨테이너-->
            <div class="m-0 mt-4 p-0 d-flex flex-column invisible">
                <label for="size-range">크기</label>
                <input type="range" min="18" max="38" step="1" class="custom-range col-10 " id="size-range">
            </div>

            <!-- 사용자 데이터 입력 폼 컨테이너 -->
            <div class="m-0 mt-4 p-0">
                <label for="new-data-input">데이터</label>
                <div class="row m-0 p-0">
                    <input type="number" id="new-data-input" class="form-control col-5 mr-2">
                    <button type="button" id="new-data-add-btn" class="btn btn-dark">Add</button>
                </div>
            </div>

            <!-- 정렬 버튼 컨테이너-->
            <div class="m-0 mt-4 p-0">
                <button id="sort-btn" type="button" class="btn btn-info">정렬</button>
            </div>

            <!-- 정렬 중지 버튼 컨테이너-->
            <div class="m-0 mt-4 p-0">
                <button id="sort-stop-btn" type="button" class="btn btn-info">중지</button>
            </div>

            <!-- 정렬 진행 버튼 컨테이너-->
            <div class="m-0 mt-4 p-0">
                <button id="sort-continue-btn" type="button" class="btn btn-info">진행</button>
            </div>

            <!-- 정렬 스텝 버튼 컨테이너-->
            <div class="m-0 mt-4 p-0">
                <button id="sort-step-btn" type="button" class="btn btn-info">한 단계 앞으로</button>
            </div>
        </div>
        <!--데이터 시각화 부분 컨테이너-->
        <div id="visualize-section-wrapper" class="m-0 ml-4 p-0">
            <section class="data-container border border-primary"></section>
        </div>
    </div>
</body>
<script src="js/static/jquery-3.5.1.slim.min.js"></script>
<script src="js/static/bootstrap.bundle.min.js"></script>
<script src="js/sort/index.js"></script>

</html>
