<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <title>Sorting Visualize</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Sunflower:wght@300;500;700&family=VT323&display=swap" rel="stylesheet">
 
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/sort.css">
    <link rel=" shortcut icon" href="img/favicon.ico">
    <link rel="icon" href="img/favicon.ico">
</head>

<body class="p-2">
    <!-- NavBar -->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="index.html" style=" font-family:'VT323'; font-size: 20pt;">SSU:Tructure</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" href="#" style=" font-family:'VT323';" >Sorting</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="tree.html" style=" font-family:'VT323';">Tree</a>
                </li>
	            <li class="nav-item">
                    <a class="nav-link" href="hashtable.html" style=" font-family:'VT323';">Hash Table</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="stack.html" style=" font-family:'VT323';">Stack&Queue</a>
                </li>
            </ul>
        </div>
    </nav>

    <!-- 메인 콘텐츠 컨테이너 -->
    <div class="container-fluid d-flex my-3 mt-2 pb-3 pt-4 align-items-start bg-white">
        <!-- 입력 폼 컨테이너-->
        <div id="input-form-wrapper" class="d-inline-flex flex-column col-md-2">

            <!-- 정렬 타입 라디오 버튼 컨테이너-->
            <div id="sort-type-radio-wrapper" class="d-flex flex-column m-0 p-0 ">
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="bubble-sort-radio" name="sort-type-radio" class="custom-control-input"
                        checked>
                    <label class="custom-control-label" for="bubble-sort-radio">Bubble Sort</label>
                </div>
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="selection-sort-radio" name="sort-type-radio" class="custom-control-input">
                    <label class="custom-control-label" for="selection-sort-radio">Selection Sort</label>
                </div>
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="insertion-sort-radio" name="sort-type-radio" class="custom-control-input">
                    <label class="custom-control-label" for="insertion-sort-radio">Insertion Sort</label>
                </div>
                <div class="custom-control custom-radio pb-2">
                    <input type="radio" id="quick-sort-radio" name="sort-type-radio" class="custom-control-input">
                    <label class="custom-control-label" for="quick-sort-radio">Quick Sort</label>
                </div>
            </div>


            <!-- 딜레이 Range 컨테이너-->
            <div class="m-0 mt-4 p-0 d-flex flex-column">
                <label for="animation-delay-range">Sort Speed</label>
                <input type="range" min="10" max="1000" value="250" step="10" style="transform: rotate(180deg)" class="custom-range col-10 "
                    id="animation-delay-range">
            </div>

            <!-- 딜레이 입력 폼 컨테이너 (js 수정 못했습니다...)--> 
            <div class="m-0 mt-4 p-0">
                <label for="new-delay-input">Set speed(10-1000)</label>
                <div class="row m-0 p-0">
                    <input type="number" id="new-delay-input" class="form-control col-5 mr-2">
                    <button type="button" id="new-delay-input-btn" class="btn btn-dark">Change</button>
                </div>
            </div>

            <!-- 크기 Range 컨테이너-->
            <div class="m-0 mt-4 p-0 d-flex flex-column">
                <label for="size-range">Size</label>
                <input type="range" min="18" max="38" step="1" value="28" class="custom-range col-10 " id="size-range">
            </div>

            <!-- 사용자 데이터 입력 폼 컨테이너 -->
            <div class="m-0 mt-4 p-0">
                <label for="new-data-input">Data</label>
                <div class="row m-0 p-0">
                    <input type="number" id="new-data-input" class="form-control col-5 mr-2">
                    <button type="button" id="new-data-add-btn" class="btn btn-dark">Add</button>
                </div>
            </div>
        </div>
        <!--데이터 시각화 부분 컨테이너-->
        <div id="visualize-section-wrapper" class="col-md-4 m-0 ml-4 p-0">
            <section class="data-container border border-dark ml-0" style="height: 500px;"></section>
            <div class="mt-2">
                <!-- 정렬 버튼-->
                <button id="sort-btn" type="button" class="btn btn-info mr-3">Sort</button>
                <!-- 정렬 중지 버튼-->
                <button id="sort-stop-btn" type="button" class="btn btn-info mr-3">Stop</button>
                <!-- 정렬 진행 버튼-->
                <button id="sort-continue-btn" type="button" class="btn btn-info mr-3">Start</button>
                <!-- 정렬 스텝 버튼-->
                <button id="sort-step-btn" type="button" class="btn btn-info mr-3">Step Forward</button>
                <!-- 정렬 뒤로 수텝 버튼-->
                <button id="sort-step-back-btn" type="button" class="btn btn-info mr-3">Step Backward</button>
                <!-- 블록 셔플 버튼-->
                <button id="block-shuffle-btn" type="button" class="btn btn-warning">Shuffle</button>
            </div>
        </div>
        <div class="col mt-2">
            <pre id="pseudo-code-container">
                <code><strong style="color:deepskyblue">function</strong> bubbleSort(A, n) {</code>
                <code> for (let last = n; last <= 2; last--) </code>
                <code>  for (let i = 1; i <= last - 1; i++)</code>
                <code>    if (A[i] > A[i + 1]) </code>
                <code>      swap(A[i],A[i+1])}</code>
            </pre>
        </div>
    </div>
</body>
<script src="js/static/jquery-3.5.1.slim.min.js"></script>
<script src="js/static/bootstrap.bundle.min.js"></script>
<script src="js/sort/index.js"></script>

</html>
