<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset='utf-8'>
    <title>AVL Tree Visualize</title>
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Sunflower:wght@300;500;700&family=VT323&display=swap" rel="stylesheet">
 
    <link rel="stylesheet" href="css/bootstrap.min.css">
    <link rel="stylesheet" href="css/tree.css">
</head>



    <body class="p-2">
        <!-- NavBar -->
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="index.html" style=" font-family:'VT323';" >SSU:Tructure</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="sort.html" style=" font-family:'VT323';" >Sorting</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="#" style=" font-family:'VT323';" >Tree</a>
                    </li>
		    <li class="nav-item">
			<a class="nav-link" href="hash.html">Hash Table</a>
		    </li>
                </ul>
            </div>
        </nav>

        <!-- 메인 콘텐츠 컨테이너 -->
        <div class="container-fluid d-flex my-3 py-4 align-items-start bg-white">
            <!-- 입력 폼 컨테이너-->
            <div id="input-form-wrapper" class="d-inline-flex flex-column col-md-2">
                
                <!-- 트리 타입 라디오 버튼 컨테이너-->
                <div id="tree-type-radio-wrapper" class="d-flex flex-column m-0 p-0 ">
                    <div class="custom-control custom-radio pb-2">
                        <input type="radio" id="avl-tree-radio" name="tree-type-radio" class="custom-control-input" checked>
                        <label class="custom-control-label" for="avl-tree-radio">AVL Tree</label>
                    </div>
                    <div class="custom-control custom-radio pb-2">
                        <input type="radio" id="red-black-tree-radio" name="tree-type-radio" class="custom-control-input" >
                        <label class="custom-control-label" for="red-black-tree-radio">Red Black Tree</label>
                    </div>
                </div>

                <!-- 딜레이 Range 컨테이너-->
                <div class="m-0 mt-4 p-0 d-flex flex-column">
                    <label for="animation-delay-range">속도</label>
                    <input type="range" min="50" max="1000" value="500" step="10" style="transform: rotate(180deg)" class="custom-range col-10 "
                        id="animation-delay-range">
                </div>


                <!-- 사용자 데이터 입력 폼 컨테이너 -->
                <div class="m-0 mt-4 p-0">
                    <label for="new-data-input">데이터</label>
                    <div class="row m-0 p-0">
                        <input type="number" id="new-data-input" class="form-control col-5 mr-2">
                        <div class="mt-1">
                            <button type="button" id="new-data-add-btn" class="btn btn-dark">Add</button>
                            <button type="button" id="new-data-remove-btn" class="btn btn-dark">Remove</button>
                        </div>
                        <button type="button" id="new-data-clear-btn" class="btn btn-dark">Clear</button>
                    </div>
                </div>
            </div>
            
            <!--데이터 시각화 부분 컨테이너-->
            <div id="visualize-section-wrapper" class="col-md-8 my-2 ml-4 p-0">
                <div id="tree" class="border border-dark w-100" style="height: 900px"></div>
            </div>
        </div>
    </body>
    <script src="js/static/jquery-3.5.1.slim.min.js"></script>
    <script src="js/static/bootstrap.bundle.min.js"></script>
    <script src="js/tree/index.js"></script>


</html>
