<!DOCTYPE html>
<html class="no-js" lang="en">
<head>
<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>tutorial</title>
<link href="https://fonts.googleapis.com/css2?family=Do+Hyeon&family=Sunflower:wght@300;500;700&family=VT323&display=swap" rel="stylesheet">
<link rel="stylesheet" href="css/bootstrap.min.css">
<link rel="stylesheet" href="css/tutorial.css">
<script src="static/modernizr.custom.min.js"></script>
<script src="static/jquery-1.10.2.min.js"></script>
<script src="static/jquery-ui-1.10.3.custom.min.js"></script>
<script src="=tutorial.html"></script>
</head>
<body>
	    <!-- NavBar -->
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#" style="font-family:'VT323'; font-size: 20pt">SSU:Tructure</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
				aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarNav">
				<ul class="navbar-nav">
					<li class="nav-item">
						<a class="nav-link" href="sort.html" style=" font-family:'VT323';">Sorting</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="tree.html" style=" font-family:'VT323';">Tree</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="hashtable.html" style=" font-family:'VT323';">Hash Table</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="stack.html" style=" font-family:'VT323';">Stack&Queue</a>
					</li>
					<li class="nav-item">
						<a class="nav-link" href="tutorial.html" style=" font-family:'VT323'; text-align: right;" >Tutorial</a>
					</li>
				</ul>
			</div>
		</nav>

	<div class="jumbotron my-3 jumbotron-fluid">
		<div class="slideshow" >
			<div class="slideshow-slides">
				<a href="#" class="slide"><img src="img/slide1.PNG" width="1600" height="465" alt="slide1"></a>
				<a href="#" class="slide"><img src="img/slide2.PNG" width="1600" height="465" alt="slide2"></a>	
				<a href="#" class="slide"><img src="img/slide3.PNG" width="1600" height="465" alt="slide3"></a>
				<a href="#" class="slide"><img src="img/slide4.PNG" width="1600" height="465" alt="slide4"></a>	
				<a href="#" class="slide"><img src="img/slide5.PNG" width="1600" height="465" alt="slide4"></a>			
			</div>
			<div class="slideshow-nav">
				<a href="#" class="prev"></a>
				<a href="#" class="next "></a>
			</div>
			<div class="slideshow-indicator">
			</div>
		</div>
	</div>
</body>
</html>













