body {
  background-color: #d2c0a6;

  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px;
}

* {
  font-family: "Sunflower";
}

.data-container {
  width: 0px;
  height: 384px;
  position: relative;
  margin: 0 auto;
  margin-bottom: 30px;
}

.block {
  width: 28px;
  position: absolute;
  left: 0;
  bottom: 0;
  /* background-color: #B69AE7; */
  transition: 0.2s all ease;
}

.block__id {
  position: absolute;
  top: -24px;
  width: 100%;
  text-align: center;
}

.sort-description {
  position: absolute;
  left: 0;
  bottom: -24px;
  text-align: center;
  width: 100%;
}

.description-container {
  width: fit-content;
  text-align: left;
  margin-bottom: 1em;
}

.pseudo-code-container {
  width: fit-content;
  text-align: left;
}

.carousel-item{
  transition: transform 200ms ease, opacity .5s ease-out;
}