body {
    background-color: #bbdeed;
}
* {
    font-family: sans-serif;
  }
  
  .header {
    margin-top: 20px;
    text-align: center;
    font-size: 20px;
  }
  
  .data-container {
    width: 0px;
    height: 384px;
    position: relative;
    margin: 0 auto;
  }
  
  .block {
    width: 28px;
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #58b7ff;
    transition: 0.2s all ease;
  }
  
  .block__id {
    position: absolute;
    top: -24px;
    width: 100%;
    text-align: center;
  }
  