* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: "Segoe UI";
  background-color: #353b48;
  overflow: hidden;
}
header.main-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  background-color: #2f3640;
  height: 80px;
  width: 100%;
}
header.main-header h1 {
  margin: 0;
  padding: 0;
  color: #f5f6fa;
}


.stack-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.stack-items {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
  padding: 15px;
  overflow: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.stack-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-color: #e1b12c;
  width: 150px;
  height: 30px;
  color: #f5f6fa;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-name: push;
  animation-name: push;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.stack-item:first-child {
  margin-top: 0;
}

.queue-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
}

.queue-items {
  display: -webkit-box;
  display: -ms-flexbox;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  height: 100%;
  padding: 15px;
  overflow: auto;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.queue-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  background-color: #e1b12c;
  width: 150px;
  height: 30px;
  color: #f5f6fa;
  font-weight: bold;
  font-size: 20px;
  margin-top: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
  -webkit-animation-name: pushqueue;
  animation-name: pushqueue;
  -webkit-animation-duration: 0.5s;
  animation-duration: 0.5s;
}
.queue-item:first-child {
  margin-top: 0;
}

.operations {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.operations .buttons .button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border: 0;
  background-color: #487eb0;
  height: 74px;
  width: 370px;
  font-size: 25px;
  font-weight: bold;
  color: #f5f6fa;
  margin-top: 20px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  outline: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}
.operations .buttons .button:hover {
  background-color: #40739e;
}
.operations .buttons .button:active {
  -webkit-transform: translateY(7px);
  transform: translateY(7px);
}
.operations .buttons .button:disabled {
  background-color: #355b7e;
  cursor: not-allowed;
}
.popAnimation {
  opacity: 0;
  -webkit-transform: translateY(-80px);
  transform: translateY(-80px);
}
.stack-items--remove .stack-item {
  opacity: 0;
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
}

.queue-items--remove .queue-item {
  opacity: 0;
  -webkit-transform: translateY(-200px);
  transform: translateY(-200px);
}
@-webkit-keyframes push {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@-webkit-keyframes pushqueue {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
@keyframes push {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-80px);
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes pushqueue {
  0% {
    opacity: 0;
    -webkit-transform: translateY(80px);
    transform: translateY(80px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}
.moveUp {
  -webkit-transform: translateY(-100px);
  transform: translateY(-100px);
}
.moveDown {
  -webkit-transform: translateY(100px);
  transform: translateY(100px);
}
