@charset "UTF-8";

body {
    background-color: #D2C0A6;
    
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 20px;
    margin-right: 20px;
}
/*
 * Slideshow
 */
.slideshow {
	min-width:960px;
	height:465px;
	overflow:hidden;
	position:relative;
	background:rgb(0,0,0);
}

.slideshow-slides {
	position:absolute;
	width:100%; 
	height:100%;
}

.slideshow-slides .slide{
	position:absolute;
	width:100%;
	height:100%;
	overflow:hidden;	
}
.slideshow-slides .slide PNG{
	position:absolute;
	left:50%; 
	margin-left:-800px;
	margin-right:-800px;
}


.slideshow-nav a {
	width:72px;
	height:72px;
	display:block;
	background:url(../img/sprites.png) no-repeat 0 -20px;
	position:absolute;
	top:50%; 
	margin-top:-36px;
	left:50%;
}

.slideshow-nav a.prev {
	margin-left:-480px; 
}

.slideshow-nav a.next {
	margin-left:408px; 
	background-position:-80px -20px; 
}

.slideshow-nav a.disabled { display:none;}

.slideshow-indicator {
	position:absolute; left:0; right:0; text-align:center; bottom:30px;
}
.slideshow-indicator a{
	width:16px; height:16px; display:inline-block; margin:0 3px;
	background:url(../img/sprites.png) no-repeat -110px 0; text-indent:-9999em;
}
.slideshow-indicator a.active{
	background-position: -130px 0; 
}









